.title {
    text-align: center;
}

.lista-produtos {
    height: calc(100% - 195px);
    margin: 0 20px 0 20px;
    overflow: auto;
}

.footer-cart {
    border-top: 2px solid #e7e7e7;
}

.footer-cart-valor {
    margin: 25px 25px 25px 5px;
    display: flex;
    justify-content: space-between;
}
