.produto-cart-box {
    display: flex;
    padding: 10px;
    margin: 20px;
    border: 1px solid #e9e9e9;
}

.produto-cart-box img {
    width: 80px;
    margin-right: 10px;
}

.produto-cart-nome {
    margin: 10px 3px 0 0;
}

.produto-cart-valor {
    color: #929292;
    font-size: 0.8rem;
    margin: 0 3px 10px 0;
}

.footer-produto-cart {
    display: flex;
    justify-content: space-between;
}

.footer-produto-btn {
    padding: 10px 15px;
    border: 1px solid #cacaca;
    background: #fff;
    cursor: pointer;
}

.footer-produto-qtd {
    margin: 0 10px 0 10px;
}

.footer-produto-preco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #e84f3d;
    line-height: 1rem;
}
