.box-checkout {
    padding: 20px;
    margin: 25px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.box-checkout p {
    margin: 0px;
}

.checkout-valores {
    display: flex;
    justify-content: space-between;
}

.checkout-button {
    margin: 180px 0 0 0;
}
